In [72]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
dataset=pd.read_csv(r"ONEHOTENCOE.csv")
dataset.head(10)

   ProductID   Color Size  Gender        Brand   Price  Rating InStock
0       1001    Blue   XL  Unisex       Adidas  135.79     4.2    True
1       1002   White   XL  Unisex         Puma  118.57     3.5    True
2       1003  Yellow    M  Unisex       Adidas  160.36     5.0    True
3       1004   Green    S  Female         Puma   58.14     4.5    True
4       1005     Red    S    Male  New Balance  115.53     3.4    True
5       1006     Red    M  Unisex       Adidas   91.42     4.0   False
6       1007     Red   XL  Female  New Balance  161.64     3.5   False
7       1008   Black   XL  Unisex  New Balance   56.71     3.1    True
8       1009   Green   XS  Unisex         Nike   55.61     4.7    True
9       1010  Yellow    L  Unisex         Nike   64.02     5.0   False

In [73]:
dataset.shape

(116, 8)

In [74]:
dataset.isnull().sum()

ProductID    0
Color        0
Size         0
Gender       0
Brand        1
Price        1
Rating       1
InStock      1
dtype: int64

In [75]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ProductID  116 non-null    int64
 1   Color      116 non-null    object
 2   Size       116 non-null    object
 3   Gender     116 non-null    object
 4   Brand      115 non-null    object
 5   Price      115 non-null    float64
 6   Rating     115 non-null    float64
 7   InStock    115 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 7.4+ KB

In [ ]:
# only usefull when the dataset is empty, here gender isnot empty
dataset["Gender"].fillna(dataset["Gender"].mode()[0],inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_10984\3181356174.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["Gender"].fillna(dataset["Gender"].mode()[0],inplace=True)

In [77]:
en_data=dataset[["Gender"]]

In [78]:
# one way to perform one hot encoding is using get_dummies
pd.get_dummies(en_data).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Gender_Female  116 non-null    bool
 1   Gender_Male    116 non-null    bool
 2   Gender_Unisex  116 non-null    bool
dtypes: bool(3)
memory usage: 480.0 bytes

In [94]:
# to encodding into numerical we will use sklearn with preprocessing 
from sklearn.preprocessing import OneHotEncoder
# (WE CAN USE FIT OR FIT TRANSFROM) what fit_transform dooes is anayze the and 
# use skitlearn algorithm and whatever the result it tranform the data into numericsl data when it numeric data
OHE=OneHotEncoder()#drop="first")#we use drop first for removing 1st column of the dataset
ar=OHE.fit_transform(en_data).toarray()
ar
# sparse matrix has its contans filled with 0 and 1 , to convert the data into array we use "toarray"

array([[0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [95]:
# to convert the array into dataframe we use following
pd.DataFrame(ar,columns=["Gender_Female","Gender_Male","Unisex"])

     Gender_Female  Gender_Male  Unisex
0              0.0          0.0     1.0
1              0.0          0.0     1.0
2              0.0          0.0     1.0
3              1.0          0.0     0.0
4              0.0          1.0     0.0
..             ...          ...     ...
111            0.0          0.0     1.0
112            1.0          0.0     0.0
113            0.0          1.0     0.0
114            0.0          1.0     0.0
115            1.0          0.0     0.0

[116 rows x 3 columns]