In [4]:
# sciketlearn are used to make model for ML but on these one we will use sklearn to fill up the 
# missing numerical datasets in effective way
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
dataset=pd.read_csv(r"C:\Users\dell\Documents\excells\data1.csv")
dataset.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,3/12/2016,2.5,3067,...,1,1.0,202,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,4/2/2016,2.5,3067,...,1,0.0,156,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,4/3/2017,2.5,3067,...,2,0.0,134,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,4/3/2017,2.5,3067,...,2,1.0,94,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,4/6/2016,2.5,3067,...,1,2.0,120,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019
5,Abbotsford,129 Charles St,2,h,941000,S,Jellis,7/5/2016,2.5,3067,...,1,0.0,181,NaN,NaN,Yarra,-37.8041,144.9953,Northern Metropolitan,4019
6,Abbotsford,124 Yarra St,3,h,1876000,S,Nelson,7/5/2016,2.5,3067,...,2,0.0,245,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019
7,Abbotsford,98 Charles St,2,h,1636000,S,Nelson,8/10/2016,2.5,3067,...,1,2.0,256,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019
8,Abbotsford,6/241 Nicholson St,1,u,300000,S,Biggin,8/10/2016,2.5,3067,...,1,1.0,0,NaN,NaN,Yarra,-37.8008,144.9973,Northern Metropolitan,4019
9,Abbotsford,10 Valiant St,2,h,1097000,S,Biggin,8/10/2016,2.5,3067,...,1,2.0,220,75.0,1900.0,Yarra,-37.8010,144.9989,Northern Metropolitan,4019

In [6]:
dataset.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  int64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  int64
 10  Bedroom2       13580 non-null  int64
 11  Bathroom       13580 non-null  int64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  int64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  int64
dtypes: float64(6), int64(7), object(8)
memory usage: 2.2+ MB

In [8]:
# find the actual missing numerical data
dataset.select_dtypes(include="float64").columns

Index(['Distance', 'Car', 'BuildingArea', 'YearBuilt', 'Lattitude',
       'Longtitude'],
      dtype='object')

In [9]:
from sklearn.impute import SimpleImputer

In [10]:
# using "SimpleImputer" as a approach to fill up in the mean way
si=SimpleImputer(strategy="mean")
ar=si.fit_transform(dataset[['Distance', 'Car', 'BuildingArea', 'YearBuilt', 'Lattitude','Longtitude']])
# we use fit_transform to fill the missing values in the datasets
# output: to remove the array we can use variable like: ar
# array([[ 2.50000000e+00,  1.00000000e+00,  1.51967650e+02,
    #      1.96468422e+03, -3.77996000e+01,  1.44998400e+02],
    #    [ 2.50000000e+00,  0.00000000e+00,  7.90000000e+01,
    #      1.90000000e+03, -3.78079000e+01,  1.44993400e+02],
    #    [ 2.50000000e+00,  0.00000000e+00,  1.50000000e+02,
    #      1.90000000e+03, -3.78093000e+01,  1.44994400e+02],
    #    ...,
    #    [ 6.80000000e+00,  4.00000000e+00,  1.51967650e+02,
    #      1.99700000e+03, -3.78527400e+01,  1.44887380e+02],
    #    [ 6.80000000e+00,  5.00000000e+00,  1.57000000e+02,
    #      1.92000000e+03, -3.78590800e+01,  1.44892990e+02],
    #    [ 6.30000000e+00,  1.00000000e+00,  1.12000000e+02,
    #      1.92000000e+03, -3.78118800e+01,  1.44884490e+02]],
    #   shape=(13580, 6))

In [11]:
# to fill the missing values in the columns

pd.DataFrame(ar,columns=dataset.select_dtypes(include="float64").columns)

       Distance  Car  BuildingArea    YearBuilt  Lattitude  Longtitude
0           2.5  1.0     151.96765  1964.684217  -37.79960   144.99840
1           2.5  0.0      79.00000  1900.000000  -37.80790   144.99340
2           2.5  0.0     150.00000  1900.000000  -37.80930   144.99440
3           2.5  1.0     151.96765  1964.684217  -37.79690   144.99690
4           2.5  2.0     142.00000  2014.000000  -37.80720   144.99410
...         ...  ...           ...          ...        ...         ...
13575      16.7  2.0     151.96765  1981.000000  -37.90562   145.16761
13576       6.8  2.0     133.00000  1995.000000  -37.85927   144.87904
13577       6.8  4.0     151.96765  1997.000000  -37.85274   144.88738
13578       6.8  5.0     157.00000  1920.000000  -37.85908   144.89299
13579       6.3  1.0     112.00000  1920.000000  -37.81188   144.88449

[13580 rows x 6 columns]

In [12]:
# to check wheather all the numerical dataset are filled we use new variable on
# "pd.DataFrame(ar,columns=dataset.select_dtypes(include="float64").columns)" then check the result
newdata=pd.DataFrame(ar,columns=dataset.select_dtypes(include="float64").columns)
newdata.isnull().sum()

Distance        0
Car             0
BuildingArea    0
YearBuilt       0
Lattitude       0
Longtitude      0
dtype: int64